fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
pydantic[email]
httpx
requests
groq
google-generativeai
python-multipart
boto3
supabase
qdrant-client
youtube-transcript-api
google-api-python-client
weasyprint
markdown2
python-dateutil

sentence-transformers
